{% extends "layout.html" %}

{% block body %}
# changes get to post to the server instead of get
# get is good for the default, but post is better for sending data to the server
# no longer has the route to /greet, but instead has the route to /, which is the same as the index route. This means that when the user submits the form, the data will be sent to the index route, which will then handle the data and render the greet.html template with the name parameter.
    <form action="/" method="post">
        <input autocomplete="off" autofocus type="text" name="name" placeholder="Enter your name">
        <button type="submit">Greet</button>
    </form>
{% endblock %}
