{% extends "layout.html" %}

{% block body %}
    <h1>Register</h1>
    <form action="/register" method="post">
        <input autocomplete="off" autofocus type="text" name="name" placeholder="Name">
        <select name="sport">
            # the first option is empty and selected by default, so that the user has to choose a sport from the dropdown menu
            # This is a good practice to ensure that the user makes a conscious choice and doesn't accidentally submit the form with the default value
            <option value="" selected >Sport</option>
            {% for sport in sports %}
                <option value="{{sport}}">
                    {{sport}}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Register</button>
    </form>
{% endblock %}
